<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../static/CSS.css"
	th:href="@{/CSS.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Review Moxie's</title>
</head>
<body>
<div class="context">
		<div class="container">
	<h1>Thank you for your feedback!</h1>
	<h3>
		If you would like to send another review, please click <a href="index">HERE</a>!
	</h3>
	<h3>
		If you would like to see all the reviews sent, please click <a
			href="reviews">HERE</a>!
	</h3>
	
	
	
	</div>
	</div>


<!--The following CSS code was used for the background animation and was retrieved from:

https://codepen.io/mohaiman/pen/MQqMyo -->

	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	
</body>
</html>